/*global style*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.banner {
    font-family: Inter, sans-serif;
    max-width: 1400px;
    max-height: 600px;
    background: linear-gradient(153deg, rgba(246, 246, 246, 0.00) 0%, #F6F6F6 100%);;
    border-radius: 5px;
    position: relative;
}

.banner-content {
    position: relative;
    height: 100%;
}

.banner-content__wrapper {
    display: flex;
}

.banner-content__photo {
    max-width: 680px;
}

.banner-content__sale {
    position: absolute;
    border-radius: 0 0 5px 5px;
    background: rgba(255, 0, 0, 0.80);
    width: 118px;
    height: 474px;
    left: 90px;
}

.banner-content__sale-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #fff;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin: 41px auto;
}

.banner-content__description {
    width: 100%;
    padding: 27px 87px;
    box-sizing: border-box;
    background: linear-gradient(153deg, rgba(246, 246, 246, 0.00) 0%, #F6F6F6 100%);
}

.description__wrapper {
    display: flex;
    max-width: 516px;
    border-bottom: 1px solid rgba(39, 39, 39, 0.40);
    margin-left: 30px;
    padding-bottom: 29px;
    margin-bottom: 36px;
}

.description__text {
    text-align: left;
}

.description__text h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 24px;
}

.description__text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.description__link a:hover {
    cursor: pointer;
}

.description__link span:hover {
    color: red;
}

.arrow:hover {
   stroke: red;
}

.description__link a {
    display: flex;
    justify-content: end;
    align-items: end;
}

.description__link span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

/*gallery*/

.banner-content__gallery {
    position: absolute;
    bottom: -24px;
    right: 87px;
}

.gallery {
    display: flex;
    gap: 24px;
}

.gallery__item {
    position: relative;
}

.gallery__properties {
    position: absolute;
    bottom: 33px;
    max-width: 184px;
    right: 23px;
}

.gallery__text {
    color: #ffffff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    text-align: left;
}

.gallery__wrap-img {
    overflow: hidden;
    border-radius: 5px;
    max-height: 333px;
}

.gallery__img {
    max-width: 234px;
    width: calc(100px + (234 - 100) * ((100vw - 500px) / (1920 - 500)));
    transition: 1s;
}

.gallery__img:hover {
    transform: scale(1.5);
}

/*slider*/

.swiper-button-next,
.swiper-button-prev {
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-button-next,
.swiper-button-prev {
    background-color:  #D9D9D9;
}

.swiper-button-next:hover {
    background-color: red;
}

.swiper-button-prev:hover {
    background-color: red;
}

.swiper-button-prev:hover path {
    stroke: #ffffff;
}

.swiper-button-next:hover path {
    stroke: #ffffff;
}



