/*global style*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

html, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.banner {
    max-width: 1400px;
    max-height: 600px;
    background: linear-gradient(153deg, rgba(246, 246, 246, 0.00) 0%, #F6F6F6 100%);;
    border-radius: 5px;
}

.banner-content {
    position: relative;
    height: 100%;
}

.banner-content__wrapper {
    display: flex;
    position: relative;
}


.banner-content__photo {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 680px;
    height: 600px;
}

.banner-content__sale {
    position: absolute;
    border-radius: 0 0 5px 5px;
    background: rgba(255, 0, 0, 0.80);
    width: 118px;
    height: 474px;
    left: 90px;
}

.banner-content__sale-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: #fff;
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-transform: uppercase;
    margin: 41px auto;
}

.banner-content__description {
    padding: 0 87px 0 117px;
    box-sizing: border-box;
    background: linear-gradient(153deg, rgba(246, 246, 246, 0.00) 0%, #F6F6F6 100%);
}

.description__wrapper {
    height: 172px;
    position: relative;
    display: flex;
    max-width: 516px;
    border-bottom: 1px solid rgba(39, 39, 39, 0.40);
    margin: 28px 0 36px 0;
}

.description__text {
    text-align: left;
}

.description__text h2 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 24px;
}

.description__text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
}

.description__link a:hover {
    cursor: pointer;
}

.description__link span:hover {
    color: red;
}

.description__link:hover svg path {
    stroke: red;
}

.description__link a {
    display: flex;
    justify-content: end;
    align-items: end;
}

.description__link span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000000;
}

/*gallery*/

.banner-content__gallery {
    position: absolute;
    bottom: -24px;
    right: 87px;
}

.gallery {
    display: flex;
    gap: 24px;
}

.gallery__item {
    position: relative;
}

.gallery__properties {
    position: absolute;
    bottom: 33px;
    width: 100%;
}

.gallery__text {
    padding: 0 25px;
    color: #ffffff;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    text-align: left;
    word-break: break-word;
}

.gallery__wrap-img {
    overflow: hidden;
    border-radius: 5px;
    max-height: 333px;
    position: relative;
}

.gallery__img {
    max-width: 234px;
    width: calc(120px + (234 - 50) * ((100vw - 500px) / (1920 - 300)));
    transition: 1s;
}

.gallery__img:hover {
    transform: scale(1.5);
}

/*slider*/

.swiper {
    width: 100%;
    height: 624px;
}

.swiper-button-next svg {
    transform: translate(1px, -2px);
}

.swiper-button-prev svg {
    transform: translate(-1px, -2px);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    height: 25px;
    width: 25px;
}

.swiper-button-next,
.swiper-button-prev {
    border-radius: 100%;
    width: 41px;
    height: 41px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: "";
}

.swiper-button-prev {
    left: calc(100px + (225 - 50) * ((100vw - 490px) / (1920 - 300)));
}

.swiper-button-next {
    right: calc(100px + (225 - 50) * ((100vw - 490px) / (1920 - 300)));
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #D9D9D9;
}

.swiper-button-next:hover {
    background-color: red;
}

.swiper-button-prev:hover {
    background-color: red;
}

.swiper-button-prev:hover path {
    stroke: #ffffff;
}

.swiper-button-next:hover path {
    stroke: #ffffff;
}

@media (max-width: 1400px) {
    .banner-content__description {
        padding: 0 40px 0 40px;
    }

    .description__wrapper {
        margin-left: 0;
    }

    .banner-content__sale {
        width: 90px;
        height: 400px;
    }

    .gallery {
        gap: 20px;
    }

    .gallery__text {
        font-size: 1.125rem;
        padding: 18px;
    }
}

@media (max-width: 1200px) {
    .description__wrapper {
        border: none;
    }

    .swiper-button-next {
        right: calc(100px + (41 - 200) * ((100vw - 490px) / (1920 - 300)));;
    }

    .swiper-button-prev {
        left: calc(100px + (41 - 200) * ((100vw - 490px) / (1920 - 300)));;
    }
}

@media (max-width: 998px) {
    .swiper-button-next {
        right: calc(100px + (41 - 240) * ((100vw - 490px) / (1920 - 300)));;
    }

    .swiper-button-prev {
        left: calc(100px + (41 - 240) * ((100vw - 490px) / (1920 - 300)));;
    }

    .banner-content__description {
        padding: 0 20px;
    }

    .description__wrapper {
        border: none;
    }

    .banner-content__sale {
        width: 80px;
        height: 320px;
    }

    .banner-content__sale-text {
        font-size: 54px;
    }

    .gallery__text {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .description__wrapper {
        height: 285px;
    }
    .swiper-button-next {
        right: calc(100px + (41 - 240) * ((100vw - 100px) / (1920 - 300)));
    }
    .swiper-button-prev {
        left: calc(100px + (41 - 240) * ((100vw - 100px) / (1920 - 300)));
    }

    .gallery__properties {
        bottom: 20px;
    }
}

@media (max-width: 640px) {
    .swiper {
        height: 1136px;
    }

    .banner {
        height: 1136px;
    }

    .banner-content__gallery {
        display: none;
    }

    .description__logo {
        display: none;
    }

    .banner-content__photo {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 1136px;
    }

    .banner-content__sale {
        position: absolute;
        background: rgba(255, 0, 0, 0.80);
        border-radius: inherit;
        width: 100%;
        height: 118px;
        left: 0;
        top: 568px;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .banner-content__sale-text {
        writing-mode: initial;
        display: block;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        margin: 0 13px 0 0;
    }

    .banner-content__description {
        display: grid;
        grid-template-rows: 1fr 105px;
        position: absolute;
        bottom: 0;
        height: 450px;
        padding: 36px 25px 0;
    }

    .description__wrapper {
        margin: 0;
        border-bottom: none;
        max-width: 589px;
    }

    .description__text h2 {
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .description__text p {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #272727;
    }

    .description__link span {
        color: #000;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .description__link svg {
        margin-bottom: 1px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 1045px;
    }

    .swiper-button-prev {
        left: 25px;
    }

    .swiper-button-next {
        left: 90px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background-color: #000;
    }

    .swiper-button-prev svg path,
    .swiper-button-next svg path {
        stroke: #ffffff;
    }

}

@media (max-width: 480px) {
    .description__text p{
        font-size: 20px;
    }

    .description__link span:hover {
        color: red;
    }

    .description__link:hover svg path {
        stroke: red;
    }

    .description__link a {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    .banner-content__sale-text {
        margin-right: 20px;
    }

}




